<main>
    <section class = "container">
        <div class = "row d-flex justify-content-center"> 

            <!-- Personal section -->
            <section class = "col-12 mt-4">
                <div class = "row d-flex justify-content-between">

                    <!-- Personal information -->
                    <div class = "col-10">
                        <img src = "" alt = "Photo" class = "text-white me-3" />
                        <span class = "text-white">
                            {{ "Name placeholder" }}
                        </span>
                    </div>

                    <!-- Settings -->
                    <div class = "col-2">
                        <input type = "submit" value = "Settings" class = "btn text-white" />
                    </div>

                </div>

                <div class = "row d-flex justify-content-between mt-5">

                    <!-- Search and Add -->
                    <div class = "col-11">
                        <input id = "searchBar" type = "text" placeholder = "Search" class = "form-control text-secondary bg-dark border-dark" />
                    </div>
                    <div class = "col-1">
                        <input type = "submit" value = "+" class = "btn btn-dark text-white" />
                    </div>

                </div>

                <!-- Users section -->
                <section id = "userChats" class = "row mt-5">
                    <div class = "col-12">
                        chat placeholder 
                    </div>
                </section>
            </section>


            <!-- User section -->
            <section id = "selectedUser" class = "col-0">

            </section>

        </div>
    </section>
</main>